<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>GrepRuby: Ruby on Rails Internet Software Development</title>
  <%= stylesheet_link_tag 'styles', 'fonts' %>

  <link href="/assets/plateforn45/application.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/assets/plateforn45/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'bootstrap'%>
  <script src="/assets/plateforn45/track.js" data-site-id="4e39a464f5a1f53236000003" id="gauges-tracker" async="" type="text/javascript"></script>
  <script src="/assets/plateforn45/ga.js" async="" type="text/javascript"></script>
  <script src="/assets/plateforn45/application.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="MfaMNl1ogy8OEH0Ne9HnVs4DAQryyKLvf0oxYv8K3VA=" name="csrf-token">

  
  </script><script src="/assets/plateforn45/form.js" type="text/javascript"></script>

  
  <script type="text/javascript">
  $(document).ready(function() {
    $('#slide-scroll').nivoSlider({
      effect: 'fade',
      directionNav:false,
      slices: 1,
      controlNav:true,
      animSpeed:500,
      pauseTime:5000,
      startSlide:0
    });
  });
  </script>

</head>

<body><div style="display: none;" id="cboxOverlay"></div><div class="" id="colorbox" style="padding-bottom: 50px; padding-right: 50px; display: none;"><div style="" id="cboxWrapper"><div style=""><div style="float: left;" id="cboxTopLeft"></div><div style="float: left;" id="cboxTopCenter"></div><div style="float: left;" id="cboxTopRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxMiddleLeft"></div><div style="float: left;" id="cboxContent"><div class="" style="width: 0pt; height: 0pt; overflow: hidden;" id="cboxLoadedContent"></div><div class="" style="" id="cboxLoadingOverlay"></div><div class="" style="" id="cboxLoadingGraphic"></div><div class="" style="" id="cboxTitle"></div><div class="" style="" id="cboxCurrent"></div><div class="" style="" id="cboxNext"></div><div class="" style="" id="cboxPrevious"></div><div class="" style="" id="cboxSlideshow"></div><div class="" style="" id="cboxClose"></div></div><div style="float: left;" id="cboxMiddleRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxBottomLeft"></div><div style="float: left;" id="cboxBottomCenter"></div><div style="float: left;" id="cboxBottomRight"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>
<!-- <div id="testing">
</div> -->

<%= render 'layouts/header' %>



<div id="content"><!-- BEGIN: content -->
  
      <%= yield %>
  
  
</div><!-- END: content -->

<%= render 'layouts/footer' %>


</body></html>